body.theme {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.example {
  margin: 2em 0em;
  padding: 2em 0em;
  position: relative;
}

.dimmer.demo:not(.page) {
  margin: 2em 0em;
}
h4 + .dimmer.demo {
  margin-top: 0em;
}

/* Shaded */
.demo .grid.shaded.examples .row {
  position: relative;
}
.demo .grid.shaded.examples .grid > .column {
  position: relative;
  z-index: 11;
}
.demo .grid.shaded.examples .grid .column:not(.row):after {
  background-color: #AAAAAA;
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.divided.examples .grid .column:not(.row):after {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.nested.examples .grid .grid {
  box-shadow: 0px 0px 0px 1px #F0F0F0 inset;
}
.demo .grid.nested.examples .grid .grid .column:after {
  background-color: #AAAAAA;
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.simple.examples .grid .column:not(.row):not(.grid):after {
  content: "";
  display: block;
  min-height: 50px;
}


/* Animation */
.demo .grid.examples {
  margin: 0em !important;
  padding: 0em !important;
}

.demo.icons .icon {
  font-size: 16px;
  margin: 0em 4px 8px;
}

.transition.demo .button {
  margin-bottom: 0.5em;
}
/* Dont hide on hide */
.transition.demo .ui.hidden.image {
  display: inline-block !important;
}

/* Popup, 8 heart icons in square */
.position.no.example .segment {
  width: 250px;
  height: 250px;
}

.position.example .icon {
  position: absolute;
  margin: 0em;
  width: auto;
  font-size: 1.5em;
  height: auto;
  padding: 0.5em !important;
}

.position.no.example .segment .icon:nth-of-type(1) {
  top: 0em;
  left: 0em;
}

.position.no.example .segment .icon:nth-of-type(2) {
  top: 0em;
  left: 50%;
  margin-left: -1em;
}

.position.no.example .segment .icon:nth-of-type(3) {
  top: 0em;
  right: 0em;
}

.position.no.example .segment .icon:nth-of-type(4) {
  top: 50%;
  right: 0em;
  margin-top: -1em;
}

.position.no.example .segment .icon:nth-of-type(5) {
  bottom: 0em;
  right: 0em;
}

.position.no.example .segment .icon:nth-of-type(6) {
  bottom: 0em;
  left: 50%;
  margin-left: -1em;
}

.position.no.example .segment .icon:nth-of-type(7) {
  bottom: 0em;
  left: 0em;
}

.position.no.example .segment .icon:nth-of-type(8) {
  top: 50%;
  left: 0em;
  margin-top: -1em;
}

/* Style for "View Source" code icon */
.example > i.icon.code {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 0rem;
  margin: 0;
  opacity: 0.5;
  font-size: 20px;
  transition: opacity 0.3s ease-out;
}

/* Style for top attached "Example" label segment */
.example > .html.segment {
  padding: 3.5em 1em 1em;
  margin-top: 2em;
  transition: box-shadow 0.2s ease, padding 0.2s ease
}

.example > .html > .top.attached.label {
  margin-bottom: 0em;
  display: none;
  user-select: none;
  background-color: #F8F8F8;
  box-shadow: 0px 0px 0px 1px #DDDDDD;
}

.example > .html.segment > .attached.label {
  display: block;
}

/* Style for the copy icon in "Example" label segment */
.example > .html > .top.attached.label .copy:hover {
  color: #666;
}

.example > .html > .top.attached.label .copy {
  float: right;
  position: absolute;
  top: 9px;
  right: 8px;
}

/* Style for code displaying area */
.annotation .instructive pre .code {
  display: block;
  margin: 0em;
  padding: 0em;
  border-radius: 3px;
  max-height: 610px;
  min-width: 500px;
  overflow: auto;
  color: #555;
  font-weight: normal;
  font-size: 1em;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  background-color: transparent;
  vertical-align: baseline;
  transform: rotateZ(0deg);
  transition: 0.5s color ease;
}

/* Style modification of the Grid example */
.demo .ui.grid.examples > .grid {
  padding-left: 0em;
  padding-right: 0em;
}

/* Make piled segment work correctly */
.example .html.ui.top.attached.segment {
  z-index: 1;
}

/* Let code icon be '\f121' on Material theme, same with others */
.example > i.code.icon:before {
  content: '\f121';
}

/* Tab component's last bottom attached segment's margin-bottom */
.ui.segment[class*="bottom attached"]:last-child {
  margin-bottom: 1em;
}

.ui.tab.segment:last-child {
  margin-bottom: 1em;
}
