.example {
  margin: 2em 0em;
  padding: 2em 0em;
  position: relative
}

.dimmer.demo:not(.page) {
  margin: 2em 0em;
}
h4 + .dimmer.demo {
  margin-top: 0em;
}

/* Shaded */
.demo .grid.shaded.examples .row {
  position: relative;
}
.demo .grid.shaded.examples .grid > .column {
  position: relative;
  z-index: 11;
}
.demo .grid.shaded.examples .grid .column:not(.row):after {
  background-color: #AAAAAA;
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.divided.examples .grid .column:not(.row):after {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.nested.examples .grid .grid {
  box-shadow: 0px 0px 0px 1px #F0F0F0 inset;
}
.demo .grid.nested.examples .grid .grid .column:after {
  background-color: #AAAAAA;
  content: "";
  display: block;
  min-height: 1em;
}

.demo .grid.simple.examples .grid .column:not(.row):not(.grid):after {
  content: "";
  display: block;
  min-height: 50px;
}


/* Animation */
.demo .grid.examples {
  margin: 0em !important;
  padding: 0em !important;
}

.demo.icons .icon {
  font-size: 16px;
  margin: 0em 4px 8px;
}

.transition.demo .button {
  margin-bottom: 0.5em;
}
/* Dont hide on hide */
.transition.demo .ui.hidden.image {
  display: inline-block !important;
}

/* Popup, 8 heart icons in square */
.position.no.example .segment {
  width: 250px;
  height: 250px;
}

.position.example .icon {
  position: absolute;
  margin: 0em;
  width: auto;
  font-size: 1.5em;
  height: auto;
  padding: 0.5em !important;
}

.position.no.example .segment .icon:nth-of-type(1) {
  top: 0em;
  left: 0em;
}

.position.no.example .segment .icon:nth-of-type(2) {
  top: 0em;
  left: 50%;
  margin-left: -1em;
}

.position.no.example .segment .icon:nth-of-type(3) {
  top: 0em;
  right: 0em;
}

.position.no.example .segment .icon:nth-of-type(4) {
  top: 50%;
  right: 0em;
  margin-top: -1em;
}

.position.no.example .segment .icon:nth-of-type(5) {
  bottom: 0em;
  right: 0em;
}

.position.no.example .segment .icon:nth-of-type(6) {
  bottom: 0em;
  left: 50%;
  margin-left: -1em;
}

.position.no.example .segment .icon:nth-of-type(7) {
  bottom: 0em;
  left: 0em;
}

.position.no.example .segment .icon:nth-of-type(8) {
  top: 50%;
  left: 0em;
  margin-top: -1em;
}
