.ui.piled.segment
.ui.stacked.segment
.ui.raised.segment
.ui.secondary.segment
.ui.tertiary.segment
.ui.compact.stacked.segment
.ui.top.attached.segment
.ui.attached.segment
.ui.bottom.attached.segment
